<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTetizb7JCpbBhchFqn_MDNmxnS_iFIoA</string>
	<key>GCM_SENDER_ID</key>
	<string>390449587878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>PROJECT_ID</key>
	<string>ruc-app-4efd8</string>
	<key>STORAGE_BUCKET</key>
	<string>ruc-app-4efd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:390449587878:ios:2aae74960e1ba0c1b2f667</string>
</dict>
</plist>
